*{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
}
main{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;    
    margin: 300px auto;
    border: 1px solid #cccccc;
    border-radius: 5px;
}